.playlist_details {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.create-playlist button {
	font-family: "AvenirRegular", sans-serif;
	background-color: #282828;
	border: none;
	padding: 8px 14px;
	border-radius: 50px;
	cursor: pointer;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	transition: background-color 0.3s ease, transform 0.3s ease; /* Ajoute une transition pour les changements de couleur et de taille */
}

input[type="search"] {
	font-family: "AvenirRegular", sans-serif;
	border: 1px solid #ffffff;
	background-color: #282828;
	width: 80vw;
	height: 42px;
	padding-left: 18px;
	font-size: 14px;
	border-radius: 20px;
	color: #ffffff;
}

input[type="text"] {
	font-family: "AvenirRegular", sans-serif;
	border: 1px solid #777777;
	background-color: #282828;
	width: 20em;
	height: 32px;
	padding-left: 18px;
	font-size: 14px;
	border-radius: 12px;
	color: #ffffff;
}

.search {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	gap: 12px;

	.searchbar {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 20px;

		button {
			width: 8%;
			height: 42px;
		}
	}

	.filters {
		display: flex;
		align-items: center;
		gap: 10px;
	}
}

.main {
	display: flex;
	flex-direction: column;
	margin-top: 30px;

	.create {
		width: 10%;
		background-color: #1ed760;
		font-family: "AvenirMedium", sans-serif;
		margin-bottom: 10px;
	}

	.input-create {
		display: flex;
		align-items: center;
		gap: 10px;
	}
}

.results-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;

	.buttons-action {
		display: flex;
		align-items: center;
		gap: 8px;

		button.delete:disabled {
			background-color: #121212;
			color: #666;
			border: 1px solid #282828;
			cursor: not-allowed;
		}
	}
}
